


<div class="containerH" *ngIf="!isResetPassword">
	<form class="box boxWidth boxResetPass boxMargin" [formGroup]="resetform" (ngSubmit)="resetPassword()">
		<h1 class="titleGray">Reset password</h1>
		<p>We can help you reset your password using your Instagram username or the email address linked to your account. </p>
		<input type="password" placeholder="New password" formControlName="password" required>
		<input type="password" placeholder="Reenter New password" formControlName="repassword" required>
		<button type="submit" class="btnGen" [disabled]="!resetform.valid && !isCapchar" *ngIf="!isLoading">Reset Password</button>
		<button type="button" class="btnGen" *ngIf="isLoading">Sending...</button>
	</form>
</div>

<div class="containerH" *ngIf="isResetPassword">
	<div class="box boxWidth boxWelcome boxMargin" >
		Reset password done, please wait 3s...
	</div>
</div>
