<div class="containerH">
	<div class="box boxWidth boxWelcome boxMargin">
		<form [formGroup]="verifyform" (ngSubmit)="verify()">
			<h1 class="titleGray">Set up 2-factor verification</h1>
			<p>We sent a security cow to <b>{{user.phone}}</b></p>
			<p>Enter the 4 digit security code from the message "Your Mycarespot verification code is ****" . If you haven’t received the message, <a (click)="requestCode()">request another code</a>.</p>
			<input type="text" placeholder="Security code" formControlName="code" required>
			<button type="submit" class="btnGen" [disabled]="!verifyform.valid" *ngIf="!isLoading">Continue</button>
			<button type="button" class="btnGen" *ngIf="isLoading">Sending...</button>
			<div class="msgError" *ngIf="invalid">Invalid Code.</div>

		</form>
	</div>
</div>
