<div class="containerH">
	<form class="box boxWidth boxResetPass boxMargin" [formGroup]="resetform" (ngSubmit)="resetPassword()">
		<h1 class="titleGray">Reset password</h1>
		<p>We can help you reset your password using your Instagram username or the email address linked to your account. </p>
		<input type="email" placeholder="Email" formControlName="email" required>
		<div id="recaptcha-wrapper">
			<re-captcha (resolved)="resolved($event)" siteKey="6LcoxlYUAAAAAIGVM-mVFN1OhDhmXV8ZQHchtol_" class="g-recaptcha"></re-captcha>
			<!--<re-captcha (resolved)="resolved($event)" siteKey="6Ld4tlEUAAAAADgeLMCB55Olgp-bE9cH9bokJOPa" class="g-recaptcha"></re-captcha>-->
			<!--<div class="g-recaptcha" data-sitekey="6Ld4tlEUAAAAADgeLMCB55Olgp-bE9cH9bokJOPa" data-size="normal"></div>-->
		</div>
		<button type="submit" class="btnGen" [disabled]="!resetform.valid && !isCapchar" *ngIf="!isLoading">Reset Password</button>
		<button type="button" class="btnGen" *ngIf="isLoading">Sending...</button>
	</form>
</div>
<div class="msgBlack" *ngIf="isSend">
	Thanks! Please check <b>{{email}}</b> for a link to reset your password.
	<a href="" class="close msgClose"></a>
</div>
